<ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-title>
        Documentacion
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="cont">
  <p>Conjuntos:</p>
  <img class="conjuntos" src="assets/Conjunto.png"  width="auto" height="auto">
  <ion-button color="primary" round large outline href="https://asignatura.us.es/algbas/sets/" target="_blank">Conjuntos</ion-button>
  
  <p>Value Chain:</p>
  <img src="assets/Valuechain.png"  width="auto" height="auto"> 
  <ion-button color="primary" round large outline href="https://www.gob.mx/inaes/articulos/conoce-las-cadenas-de-valor" target="_blank">Value Chain</ion-button>
  
  <p>ERP:</p>
  <img src="assets/ERP.png"  width="auto" height="auto">
  <ion-button color="primary" round large outline href="https://www.oracle.com/mx/erp/what-is-erp" target="_blank">ERP</ion-button>

  <p>Teoria De La Utilidad:</p>
  <img src="assets/TDLU.jpg"  width="auto" height="auto">
  <ion-button color="primary" round large outline href="https://www.gestiopolis.com/teoria-utilidad" target="_blank">Teoría de la utilidad</ion-button>

  <p>Análisis De Decisión:</p>
  <img src="assets/analisis.jpg"  width="auto" height="auto">
  <ion-button color="primary" round large outline href="https://www.escuelaeuropeaexcelencia.com/2020/08/analisis-de-decisiones-un-proceso-estructurado-para-mejorar-las-decisiones-empresariales/?msclkid=87715170c42311ecaf0b5f56420a9962" target="_blank">Análisis De Decisión</ion-button>

  <p>Decisiciones En La Empresa:</p>
  <img src="assets/desicionesEmp.jpg"  width="auto" height="auto">
  <ion-button color="primary" round large outline href="https://blog.corponet.com/la-importancia-de-la-informacion-para-la-toma-de-decisiones-en-la-empresa#:~:text=La%20informaci%C3%B3n%20confiable%20es%20crucial%20para%20el%20proceso,empresa%20a%20reducir%20la%20incertidumbre%20y%20el%20riesgo.?msclkid=8e9f36d8c43111ecb294e16316e04d09" target="_blank">Decisiciones En La Empresa</ion-button>

  <p>Tecnologias En La Toma De Deciciones Empresariales:</p>
  <img src="assets/tecno.jpg"  width="auto" height="auto">
  <ion-button color="primary" round large outline href="https://tecnopedia.net/internet/las-tecnologias-de-la-informacion-y-la-toma-de-decisiones-en-los-negocios/#:~:text=La%20tecnolog%C3%ADa%20tambi%C3%A9n%20puede%20mejorar%20la%20recopilaci%C3%B3n%20de,decisiones%20en%20base%20a%20la%20informaci%C3%B3n%20del%20d%C3%ADa.?msclkid=0038e420c43211ec91827c86cdd88a3a" target="_blank">Tecnologias En La Toma De Deciciones Empresariales</ion-button>

  <p>Targeta Madre:</p>
  <img src="assets/tarjeta.jpg"  width="auto" height="auto">
  <ion-button color="primary" round large outline href="https://pcacademia.com/partes-de-la-tarjeta-madre/?msclkid=cb74e23ac43211ec97e3b4c0ee5c08b5" target="_blank">Targeta Madre</ion-button>
  
  <p>Inteligencia Artificial y La Organizaciones:</p>
  <img src="assets/IA.jpg"  width="auto" height="auto">
  <ion-button color="primary" round large outline href="https://www2.deloitte.com/es/es/pages/operations/articles/impacto-inteligencia-artificial-organizaciones.html?msclkid=fecebc55c43311ecb08dcabfd30f54c5" target="_blank">Inteligencia Artificial y La Organizaciones</ion-button>

  <p>Tesis De Church Turing:</p>
  <img src="assets/turing.webp"  width="auto" height="auto">
  <ion-button color="primary" round large outline href="https://automatas2021.wordpress.com/2022/01/22/tesis-church-turing/?msclkid=e63c902cc43411ecbc520d3ad5754048" target="_blank">Tesis De Church Turing</ion-button>
 
  <p>Clases De Modelos De Decisión:</p>
  <img src="assets/clases.webp"  width="auto" height="auto">
  <ion-button color="primary" round large outline href="https://es.slideshare.net/Edw1a/modelos-de-decision?msclkid=adbd9081c43511ecbdb048fb623a8168" target="_blank">Clases De Modelos De Decisión</ion-button>
  <p>Diagramas UML:</p>
  <img src="assets/UML.jpg"  width="auto" height="auto">
  <ion-button color="primary" round large outline href="https://diagramasuml.com/?msclkid=45737a05c43611eca39da5e7acf29aa7" target="_blank">Diagramas UML</ion-button>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  </ion-infinite-scroll>
</ion-content>
