<ion-header class="head" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Notas De Clase.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="con">
  <!-- <ion-button (click)="toggleInfiniteScroll()" expand="block">
     Toggle Infinite Scroll
   </ion-button>-->
 
   <ion-list class="list">
     <ion-item class="list">
       <p>CONJUNTOS:<br/>
         Un conjunto es una colección bien definida de objetos, entendiendo que dichos 
         objetos pueden ser cualquier cosa: números, personas, letras, otros conjuntos, etc.
       </p>
     </ion-item>
     <ion-item>
       <p>VALUE CHAIN:<br/>
         Herramienta analógica usada para analizar las actividades de una 
         empresa y así identificar las fuentes de ventaja competitiva.
       </p>
     </ion-item>
     <ion-item >
       <p> ERP:<br/>
         Enterprise Resource Planning (ERP) es un tipo de software que las organizaciones utilizan para gestionar las actividades empresariales diarias,
         como la contabilidad, el aprovisionamiento, la gestión de proyectos,etc.                                      
       </p>
     </ion-item>
     <ion-item>
      <p>TEORIA DE LA UTILIDAD:<br/>
        Supuestos De La Teoria De La Utilidad: <br/>
        -El ingreso del consumidor por unidad de tiempo es limitada.<br/>
        -Las características del bien determinan su utilidad y por tanto afectan las deciciones del consumidor.<br/>
        -El consumidor busca maximizar su satisfacción total(utilidad total) y por tanto gasta todo su ingreso.<br/>
        -El consumidor posee información perfecta, es decir, conoce los vienes (sus características y precios)<br/>
        -El consumidor es racional,lo cual quiere decir que busca lograr sus objetivos, en este caso el de obtener la mayor satisfaccion posible.<br/>
        La teoría económica del comportamiento del consumidor se topa con un problema importante.<br/>
        “Problema central de la teoría del consumidor”
        Imposibilidad de cuantificar el grado de satisfacción o utilidad que el consumidor obtiene los bienes.
        No existe unidad de medida objetiva de la satisfacción-Este problema se ha enfrentado atraves de dos enfoques.<br/>
        -Enfoque Ordinal<br/>
        -Enfoque Cardinal
      </p>
    </ion-item>
     <ion-item>
      <p>ANALISIS DE DECISIÓN:<br/>
        Proporciona un soporte cuantitativo a los tomadores de decisiones en todas las áreas tales como 
        ingenieros analistas en las oficinas de planificación, agencias públicas, consultores en proyectos de agencias, etc.                                         
      </p>
    </ion-item>
    
    <ion-item>
      <p>DESICIONES EN LA EMPRESA:<br/>
      La importancia de la informacion para la toma e deciciones en la empresa son:<br/>
      -oportunas <br/>
      -rapidas <br/>
      -informadas <br/>
      -efectivas <br/>
      -eficiente(en uso de recursos) <br/>
      La importancia de la informacion para las organizaciones radica en que es un recurso escencial, estas las utilisan al desempeñar  
      sus operaciones diarias y de manera estrategica para la busqueda de un alto nivel competitivo.
      </p>
    </ion-item>
    <ion-item>
      <p>TECNOLOGIAS EN LA TOMA DE DECICIONES EMPRESARIALES :<br/>
        Las tecnologías de información resultan una herramienta muy valiosa que permite recolectar, procesar y 
        almacenar datos que son generados de la misma operación del negocio en el día a día. Así se facilita el acceso a 
        la información y se reduce el margen de error que pudiera existir al realizar una misma captura en varias ocasiones.
        TIC trae consigo también un cambio estructural en la organización,pudiendo causar una resistencia en el factor humano.
      </p>
    </ion-item>
    <ion-item>
      <p>TARGETA MADRE:<br/>
        Componentes:<br/>
        -Tarjeta Madre Componentes:<br/>
        -Capacitores<br/>
        -Puertos PCI, PCI-E<br/>
        -Ranuras para memoria RAM<br/>
        -Puertos SATA<br/>
        -Chipset's <br/>
        Chipset: Conjunto de chips o circuito integrado capaz de realizar una serie de funciones. <br/>
        North Bridge: controla los gráficos y el flujo de datos.<br/>
        South Brige: controla los dispositivos de entrada y salida USB, mouse, audio, PCI, etc.<br/>
        FSB(Frontal System Buss): va del procesador al puente norte, controla lo del mismo:<br/>
        RTC:Es El relog de la computadora generalmente tiene forma de circuito integrado y su objetivo es mantener la hora.<br/>
        PCI(Peripheral Component interconect): Es una interconexion de componentes perifericos y es el mas comun para coneccion de targetas controladoras.
      </p>
    </ion-item>
    <ion-item>
      <p>INTELIGENCIA ARTIFICIAL Y LAS ORGANIZACIONES:<br/>
        La inteligencia artificial se ha convertido en un factor importante en las organizaciones y en el 
        mundo laboral, por lo que se considera que en la actualidad las organizaciones deben estar 
        preparadas para actualizar sus procesos involucrando la aplicación de sistemas inteligentes y así 
        lograr abordar los cambios tecnológicos. En este documento se presenta la importancia que tiene 
        la aplicación de la inteligencia artificial en las organizaciones mediante la aplicación de técnicas y 
        estrategias. Lo anterior, a partir de una revisión literaria, entre artículos de revista académica, 
        navegador de Google académico y bases de datos, los cuales fueron escogidos mediante una 
        depuración sistemática con base en criterios definidos, seguido de ello, se realiza una definición 
        de los conceptos de inteligencia artificial sus inicios, la importancia de la misma, y cómo afecta a 
        las organizaciones. Concluyendo de esta manera que para las organizaciones es fundamental 
        utilizar este tipo de inteligencias ya que les permitirá la apertura de nuevos mercados y logran una 
        mayor competitividad. Las empresas que decidan finalmente no aplicar inteligencia artificial estará 
        destinadas a desaparecer o volverse obsoletas.
        </p>
    </ion-item>
    <ion-item>
      <p>TESIS DE CHURCH TURING: <br/>
        En teoría de la computabilidad, la tesis de Church-Turing formula hipotéticamente la equivalencia entre los conceptos
         de función computable y máquina de Turing, que expresado en lenguaje corriente vendría a ser "todo algoritmo es 
         equivalente a una máquina de Turing". No es un teorema matemático, es una afirmación formalmente indemostrable que, no obstante, tiene una aceptación prácticamente universal.
      </p>
    </ion-item>
    <ion-item>
      <p>CLASES DE MODELOS DE DECICION: <br/>
        Cada clase está definida con un criterio acerca de la naturaleza. 
        Las tres clases son decisiones bajo certidumbre, decisiones bajo riesgo y decisiones bajo incertidumbre. 
        <br/>
        Decisiones Bajo Certidumbre: es aquella en la que quienes toman la decisión saben con certeza cuál es el estado natural, que va a ocurrir
        , saben con certeza la consecuencia de cada una de las alternativas que implica la seleccion de la decisión.<br/>
        Decisiones Bajo Riesgo: Son una serie de modelos para los cuales hay más de un está en la naturaleza y para la cual suponemos que quien toma la 
        decisión puede llegar a una estimación de probabilidades de la ocurrencia de cada uno de los estados de la naturaleza. <br/>
        Decisiones Bajo Incertidumbre: También hay más de un posible estado de la naturaleza, pero en este caso el que toma la decisión no quiere o no puede especificar 
        que probabilidades hay de que estos diferentes estados de la naturaleza ocurran. <br/>
        Hay Ciertos Criterios De Decisiones Bajo Incertidumbre: <br/>
        -Criterio maximax<br/>
        -criterio maxmin<br/>
        -criterio Laplace<br/>
        -Criterio de oportunidad
      </p>
    </ion-item>
    <ion-item>
      <p>DIAGRAMAS UML: <br/>
        De entre las diferentes metodologias o lenguajes de diseño que existen en la actualidad para diseñar sistemas se analizará el UML.
        Sirve para especificar, diseñar, documenta, construir sistemas de software. Representa una coleccion de las mejores practicas de ingenieria que han sido probadas 
        exitosamente. <br/>
        De Requerimientos: 
        Ponen el enfasis en la identificacion de las caracteristicas del sistema más que en los objetos que lo conforman. 
        Estructurales:
        Permite descubrir tanto la estructura lógica del sistema como la fisica. 
        De comportamiento: 
        Propone la utilizacion, entre otros, de los "diagramas en estado" y los "diagramas de actividad" para los modelos de comportamiento que definen la actuacion de los procesos.
        Se utilizan los diagramas de secuencia.
      </p>
    </ion-item>
   </ion-list>
 
   <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
   </ion-infinite-scroll>
 </ion-content>
 
