<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Horario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Horario</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-row class="dias">
  <ion-col>
    <div>Hora</div>
  </ion-col>
  <ion-col>
    <div>Lunes</div>
  </ion-col>
  <ion-col>
    <div>Martes</div>
  </ion-col>
  <ion-col>
    <div>Miercoles</div>
  </ion-col>
  <ion-col>
    <div>Jueves</div>
  </ion-col>
  <ion-col>
    <div>Viernes</div>
  </ion-col>
</ion-row>
<ion-row class="Materias">
  <ion-col>
    <div>07:00-08:00</div>
  </ion-col>
  <ion-col>
    <div>Control Digital</div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div>Control Digital</div>
  </ion-col>
  <ion-col>
    <div><a href="https://classroom.google.com/u/0/c/NDY5Njg0OTMwMzc0?hl=es" class="link" target="_blank">Bases De Datos</a></div>
  </ion-col>
</ion-row>

<ion-row class="Materias">
  <ion-col>
    <div>08:00-09:00</div>
  </ion-col>
  <ion-col>
    <div><a href="https://classroom.google.com/u/0/c/NDY5Njg0OTMwMzc0?hl=es" class="link" target="_blank">Bases De Datos</a></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div>Control Digital</div>
  </ion-col>
  <ion-col>
    <div><a href="https://classroom.google.com/u/0/c/NDY5Njg0OTMwMzc0?hl=es" class="link" target="_blank">Bases De Datos</a></div>
  </ion-col>
</ion-row>

<ion-row class="Materias">
  <ion-col>
    <div>09:00-10:00</div>
  </ion-col>
  <ion-col>
    <div><a href="https://classroom.google.com/u/0/c/NDY5NzQxODI4MTMy?hl=es" class="link" target="_blank">Robotica Movil</a></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div><a href="https://classroom.google.com/u/0/c/NDY5NzQxODI4MTMy?hl=es" class="link" target="_blank">Robotica Movil</a></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
</ion-row>
<ion-row class="Materias">
  <ion-col>
    <div>10:00-11:00</div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
   <div></div>
  </ion-col>
  <ion-col>
    <div><a href="https://classroom.google.com/u/0/c/NDY5NzQxODI4MTMy?hl=es" class="link" target="_blank">Robotica Movil</a></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
</ion-row>
<ion-row class="Materias">
  <ion-col>
    <div>11:00-12:00</div>
  </ion-col>
  <ion-col>
    <div>Lab.Control Digital</div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div><a href="https://cursos.fie.umich.mx/2016/login/index.php" class="link" target="_blank">Etica Profesional</a></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
   <div><a href="https://cursos.fie.umich.mx/2016/login/index.php" class="link" target="_blank">Etica Profesional</a></div>
  </ion-col>
</ion-row>
<ion-row class="Materias">
  <ion-col>
    <div>12:00-13:00</div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div><a href="https://cursos.fie.umich.mx/2016/login/index.php" class="link" target="_blank">Etica Profesional</a></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
</ion-row>
<ion-row class="Materias">
  <ion-col>
    <div>13:00-14:00</div>
  </ion-col>
  <ion-col>
    <div><a href="https://classroom.google.com/u/0/c/NDczOTAzNTY2ODkz?hl=es" class="link" target="_blank">SGC</a></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
</ion-row>
<ion-row class="Materias">
  <ion-col>
    <div>14:00-15:00</div>
  </ion-col>
  <ion-col>
    <div><a href="https://classroom.google.com/u/0/c/NDczOTAzNTY2ODkz?hl=es" class="link" target="_blank">SGC</a></div>
  </ion-col>
  <ion-col>
    <div> </div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
</ion-row>
<ion-row class="Materias">
  <ion-col>
    <div>15:00-16:00</div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div>Expresion Oral y Escrita</div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div>Expresion Oral y Escrita</div>
  </ion-col>
</ion-row>
<ion-row class="Materias">
  <ion-col>
    <div>16:00-17:00</div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div>Expresion Oral y Escrita</div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div>Expresion Oral y Escrita</div>
  </ion-col>
</ion-row>


<ion-row class="Materias">
  <ion-col>
    <div>17:00-18:00</div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div><a href="https://classroom.google.com/u/0/c/NDc5MzY3NjM5Nzcz?hl=es" class="link" target="_blank">Teoria De La Computacion</a></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div><a href="https://classroom.google.com/u/0/c/NDc5MzY3NjM5Nzcz?hl=es" class="link" target="_blank">Teoria De La Computacion</a></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
</ion-row>


<ion-row class="Materias">
  <ion-col>
    <div>18:00-19:00</div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div><a href="https://classroom.google.com/u/0/c/NDc5MzY3NjM5Nzcz?hl=es" class="link" target="_blank">Teoria De La Computacion</a></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
  <ion-col>
    <div><a href="https://classroom.google.com/u/0/c/NDc5MzY3NjM5Nzcz?hl=es" class="link" target="_blank">Teoria De La Computacion</a></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
</ion-row>
</ion-content>
<ion-footer collapse="fade">
